@charset "UTF-8";
:root {
  --mainblack: rgb(32, 35, 42);
  --mainblue: rgb(97, 218, 251);
  --mainwhite: rgb(247, 247, 247);
  --fontMonospace-Corier: 'Courier New', Courier, monospace;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--mainblack);
}

header {
  width: 100%;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header svg {
  width: 45%;
  height: 45%;
  -webkit-animation: tramsformrotate 8s infinite linear;
          animation: tramsformrotate 8s infinite linear;
}

header .header-text {
  font-size: 4rem;
  color: #61DAFB;
}

header .react-text {
  font-size: 5.5rem;
  text-align: center;
  font-weight: bolder;
}

@-webkit-keyframes tramsformrotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

@keyframes tramsformrotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: 0px -5px 5px -5px black inset;
          box-shadow: 0px -5px 5px -5px black inset;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  list-style: none;
}

nav ul li {
  padding: 0 50px;
  color: white;
}

nav ul li a {
  color: var(--mainwhite);
  font-weight: bolder;
  text-decoration: none;
}

nav ul li a:hover {
  color: #61dafb;
  cursor: pointer;
  border-bottom: 2px solid var(--mainblue);
}

.NoOpacity {
  -webkit-animation: TransormingTo 0.5s linear forwards;
          animation: TransormingTo 0.5s linear forwards;
}

@-webkit-keyframes TransormingTo {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes TransormingTo {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.YeOpacity {
  -webkit-animation: TransormingFor 0.5s linear forwards;
          animation: TransormingFor 0.5s linear forwards;
}

@-webkit-keyframes TransormingFor {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes TransormingFor {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.block-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  color: var(--mainwhite);
}

.block-1 ul li {
  font-size: 1.8rem;
  list-style-type: none;
  margin: 0 200px;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.block-1 ul li a {
  text-decoration: none;
  color: white;
}

.block-1 ul li a:hover {
  color: #61dafb;
  cursor: pointer;
}

.block-1 ul li a:visited {
  color: #a7a7a7;
}

/*                     Для документации!!                    */
.main {
  max-width: 70%;
  margin: 0 auto;
  color: var(--mainwhite);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

p {
  text-align: center;
}

.block-border {
  border: 5px var(--mainblue) solid;
  border-radius: 15px;
  padding: 1vh;
}

.block-border li {
  margin: 1rem 0;
}

.img-nodejs {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

.img-react_installing {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

.img-error_folder {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

/*                     Медиа запросы и другое!!                    */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--mainblack);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #616469;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: var(--mainblack);
}

@media screen and (min-device-width: 1200px) {
  header svg {
    width: 30%;
    height: 30%;
  }
}

@media screen and (max-device-width: 1200px) and (orientation: portrait) {
  header nav {
    opacity: 0;
  }
  header svg {
    position: relative;
    top: -4.5vh;
  }
  .main {
    max-width: 95%;
    font-weight: 500;
  }
  .block-1 ul li {
    font-size: 4.5rem;
  }
}

@media screen and (max-device-width: 1200px) and (orientation: landscape) {
  nav {
    opacity: 0;
  }
}

@media screen and (min-device-width: 1800px) {
  .block-1 ul {
    max-width: 70%;
  }
  .main {
    font-weight: bolder;
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=index.css.map */